body {
    font-family: sans-serif;
     background-color: #FFD273;
}

header{
   background-color: #FFC140; 
   padding: 30px;
}

.link-header{
    text-decoration: none;
    background-color: #6D89D5;
    color: black;
    padding: 10px;
    border-radius: 10px;
}

.link-header:hover{
    font-weight: bolder;
    box-shadow:3px 5px 10px black;
}


nav{
    padding: 35px 100px 35px 95px;
    display: flex;
    justify-content: space-between;    
}

.link-nav{
    text-decoration: none;
    padding: 5px;
    color: black;
    background-color:#6D89D5;
    box-shadow: 3px 5px 5px black;
    border-radius: 5px;
}

.link-nav:hover{
    font-size: 20px;
    color: #6D89D5;
    background-color: white;
}


h1{
    text-align: center;
    font-size: 50px;
}

ul{
    font-size: 25px; 
}

.social{
    padding: 10px;
}
